<h1> Battle Game </h1>

<h2> <i>Fight for your life! </i></h2> 
<form action="/names" method="post">
  <label for="player_1_name">Warrior 1: </label>
  <input placeholder="Player 1 Name:" name="player_1_name"><br><br>
  <label for="player_2_name">Warrior 2: </label>
  <input placeholder="Player 2 Name:" name="player_2_name"><br><br>
  <input type="submit" value="Submit"> 
</form>

<span style="background-color: #FFFF00">Let the Games begin.</span>